<ion-view class="walkthrough-view" cache-view="false">
  <ion-content scroll="false">
    <div class="top-content row">
      <div class="col col-center">
        <img ng-src="img/logo.png">
      </div>
    </div>
    <div class="bottom-content row">
      <div class="col col-center">


        <a class="login button button-block button-stable" ng-click="openHelpingNetworkFacebookSignIn()"> <!--ui-sref="auth.login"--> <!--href="https://helping.network/auth/login/google{{angularPath}}"  >--><!--ui-sref="auth.login" -->
          Facebook Login
        </a>


        <a class="sign-up button button-block button-stable" ng-click="openHelpingNetworkGoogleSignIn()">
          Google Login
        </a>
      </div>
    </div>1
  </ion-content>
</ion-view>
