<ion-modal-view>

    <ion-header-bar ng-show="showPublicWallConverstationView">
        <button class="button button-clear icon ion-chevron-left" ng-click="goBackToHelpRequestDescription()" style="color:black"></button>
        <h1 class="title">PUBLIC WALL</h1>
    </ion-header-bar>

    <ion-content>
        <div ng-show="showPublicWallConverstationView">

            <h1> chat is going to show up here</h1>

        </div>

        <div ng-show="!showPublicWallConverstationView">
        <button class = "button icon icon-left ion-ios-close-outline" style="background-color: white"
                ng-click = "closeModal()">Close</button>

        <div class="list card">
            <table style="width: 100%;">
                <tr>
                    <td style="text-align: center; vertical-align: middle;">
                        <img ng-src="{{imageSource(currentHrToShow.creator.id.$oid)}}"
                             style="top: 20px;
                             left: 16px;
                             max-width: 90px;
                             max-height: 90px;
                             width: 100%;
                             height: 100%;
                             border-radius: 50%;">
                    </td>
                </tr>
            </table>


            <table style="width: 90%;">
                <tr>
                    <td style="text-align: center; vertical-align: middle;">
                        <div class="item item-avatar">

                            <div>

                                <strong><h2>{{currentHrToShow.creator.first_name}} {{currentHrToShow.creator.last_name}}</h2></strong>
                                <strong><p>{{currentHrToShow.reviews}} reviews</p></strong>
                                <p ng-bind="currentHrToShow.creation_date.$date | date:'MM/dd/yyyy'"></p>
                            </div>

                        </div>

                    </td>
                </tr>
            </table>



            <div class="item item-body"  style="background-color: #F7F7F7">
                <strong><h2 class = "title">{{currentHrToShow.title}}</h2></strong>

               <!-- <img class="full-image" src="../../img/delorean.jpg"> -->
                <p>
                    {{currentHrToShow.description}}
                </p>
               <!-- <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p> -->

                <strong><p>public wall</p></strong>
                <br>
                <div ng-if="currentPublicWallMessagesToShow.length > 0"  class="item item-avatar" style="background-color: #F7F7F7; border-width: 0px;">
                    <img ng-src="{{imageSource(currentPublicWallMessagesToShow[0].userId)}}">
                    <p style="border-radius: 25px;
                        background: white;
                        color: black;
                        padding: 20px;">{{currentPublicWallMessagesToShow[0].body}}</p>
                </div>
                <div ng-if="currentPublicWallMessagesToShow.length > 0" class = "row center">
                    <div class="col text-right">
                        <p ng-click="ShowPublicConversation()"> >See More</p>
                    </div>
                </div>

                <div ng-if="currentPublicWallMessagesToShow.length == 0" class = "row center">
                    <div class="col text-right">
                        <p ng-click="ShowPublicConversation()"> >Start the conversation...</p>
                    </div>
                </div>

            </div>

        </div>

        </div>
    </ion-content>
</ion-modal-view>