<ion-view title="Around" class="profile-view">

    <around-list-header></around-list-header>



    <ion-content ng-class="{'animated': 'true', 'flip':makeFlip}" style="">


        <div class="list card" ng-repeat="helpRequest in helpRequestList">
            <a class="item item-icon-left" ng-click = "openModal(helpRequest)">
                <i ng-class="getRightIconForHelpRequest(helpRequest.icon_to_show)"></i>  <p> <strong>{{$index}}</strong>  {{ helpRequest.description | limitTo: 33 }} {{helpRequest.description.length > 20 ? '...' : ''}} {{getDistanceOfHelpRequestToUserinKm(userCurrentLocation.latitude, userCurrentLocation.longitude,
                helpRequest.latitude, helpRequest.longitude)}} km</p>
                <p><small>{{helpRequest.reviews}} reviews</small></p>

            </a>


        </div>

    </ion-content>
</ion-view>


