<ion-view title="Profile" class="profile-view">

  <profile-heading></profile-heading>



  <ion-content style="padding-top: 30px">

    <div class="list card">
      <ion-item class="profile-item">
        <div class="profile-picture big-profile-picture">
          <img ng-src="https://helping.network/public_picture/{{userId}}">
        </div>
        <h2 class="profile-name dark">{{firstName}} {{lastName}}</h2>
        <div class="profile-info">{{aboutMeText}}</div>
      </ion-item>
      <ion-item class="profile-item">
        <button class="button button-block button-positive" ng-click="logIn()">
          Login
        </button>
      </ion-item>
    </div>



  </ion-content>
</ion-view>


