

<!--
<ion-tabs class="tabs-stable tabs-icon-top" ui-sref="app.profile">
  <ion-tab title="Around" icon="ion-map" id="profile-tab1">
    <ion-nav-view name="tab1"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Activity" icon="ion-ios-flame-outline" ui-sref="app.settings">
    <ion-nav-view name="tab4"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Chats" icon="ion-chatbubble-working" href="#/profile/page3" id="profile-tab2">
    <ion-nav-view name="tab2"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Profile" icon="ion-ios-person" id="profile-tab3">
    <ion-nav-view name="tab3"></ion-nav-view>
  </ion-tab>
</ion-tabs>
-->

<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-nav-bar class="bar app-top-bar">
  <ion-nav-back-button>
  </ion-nav-back-button>

</ion-nav-bar>

<ion-nav-view></ion-nav-view>


<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Around Tab -->
  <ion-tab title="Around" icon="ion-map" href="#/app/around">
    <ion-nav-view name="tab-around"></ion-nav-view>
  </ion-tab>

  <!-- Activity Tab -->
  <ion-tab title="Activity" icon-off="ion-ios-flame-outline" icon-on="ion-ios-flame" href="#/app/profile"">
    <ion-nav-view name="tab-activity"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/app/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>


  <!-- Profile Tab -->
  <ion-tab title="Profile" icon="ion-ios-person" href="#/app/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>



</ion-tabs>
