<ion-view title="Profile" id="page1">
    <ion-tabs class="tabs-stable tabs-icon-top" id="profile-tabs1">
        <ion-tab title="Around" icon="ion-map" href="#/profile/tab1/page2" id="profile-tab1">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Activity" icon="ion-ios-flame-outline" href="#/profile/tab4/page2" id="profile-tab4">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Chats" icon="ion-chatbubble-working" href="#/profile/page3" id="profile-tab2">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Profile" icon="ion-ios-person" id="profile-tab3">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>